// bower:scss
// endbower

// $primary-color: green;
$primary-color: #d7322f;
$secondary-color: #f2f2f2;
$third-color: #231f20;

$font-stack: Roboto, Helvetica, sans-serif;

@import "../../bower_components/minimalect/jquery.minimalect.scss";
@import "pure-min";
@import "fonts";

body {
    background: #fff;
    font-family: $font-stack;
    color: $third-color;
}
.pure-g-r > div {
        box-sizing: border-box;
}

a{
    color: $primary-color;
    text-decoration:none;
}

@import "fb-buttons";
@import "header";
@import "content";
@import "sidebar";
@import "related-content";
@import "intro";
